body {
    background-color: #E4B7A0;
    font-family: monospace;
}

#header {
    margin: 40px auto;
    display: block;
    margin-bottom: 0;
    padding: 15px;
    width: fit-content;
    text-align: center;
    background-color: #C38370;
    border-radius: 20px;;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

#header h1 {
    margin: 20px;
    color: #F6EEE0;
    font-size: 100px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

#jar-container {
    margin: 0 auto;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: #C38370;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 50%;
}

#jar-container img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.text-field {
    margin: 0 auto;
    display: block;
    width: 80%
}

.text-field p {
    color: #A45C40;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#photo-contianer {
    text-align: center;
}

.photo {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    margin: 25px;
    border: solid 15px;
    border-color: #C38370;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    width: 225px;
}

#QR-code {
    margin: 0 auto;
    display: block;
    width: 70%;
}